[Dataset]
# ratings = D:\Study\Dataset\MovieLens\ml-1m\ratings.dat
ratings = D:\Study\Coding\Pycharm\DataAnalysis\MovieLens\MovieLens_u0_i20.txt
data_format = time

[splitter]
method = given_n
method_index = 0
method_parameter = 10
data_save = 1
save_path = output/

experiment_num = 5

[Parameters]
learn_rate = 0.001
max_iterations = 50
factor_num = 30
momentum = 0.9
user_lambda = 0.05
item_lambda = 0.05
stop_threshold = 0.01
batch_size = 100000


[Output]
evaluator = RMSE, MSE
logger = output/
is_save = 1
save_path = output/
is_load = 0
load_path = output/